<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>ONERA Centre de Lille, France</li>
    <li>DMAS/CRD</li>
    <!--<li>123 Main St, Anytown, USA</li>-->
    <!--<li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>-->
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>(+33) 7 64 74 57 03</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:phuc_viet_khoa.nguyen@onera.fr">phuc_viet_khoa.nguyen@onera.fr</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://nguyenphucvietkhoa.github.io/">https://nguyenphucvietkhoa.github.io/</a></li>
  </ul>
</div>
